nav {
  background-color: darkslategrey;
  margin-bottom: 2em;
  padding: 0.5em 0.5em;
  a,
  a:visited {
    background-color: darkslategrey;
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 0.5em 0.5em;
  }
}