<!DOCTYPE html>
<html>
<head>
  <title>Flickr52</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div><a href="/challenges">challenges</a> <a href="/event_logs">event log</a></div>

<%= yield %>

</body>
</html>
